<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>everyplay videos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="container">
      <div class="header">
        <h3 class="text-muted">Everyplay videos</h3>
      </div>

      <div class="row">
        <div class="col-12 js-main-region"></div>
      </div>

      <!-- <div class="jumbotron">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">Always a pleasure scaffolding your apps.</p>
        <p><a class="btn btn-lg btn-success" href="#">Splendid! <span class="glyphicon glyphicon-ok"></span></a></p>
      </div> -->
    </div>

    <script type="text/template" id="tpl-videos-layout">
      <div class="js-games-filter-region"></div>
      <div class="js-videos-list-region"></div>
    </script>

    <script type="text/template" id="tpl-games-filter">
      <h2>Filter</h2>
      <select class="games-filter">
        <% _.each(items, function(game) { %>
          <option value="game.id"><%- game.name %></option>
        <% }) %>
      </select>
    </script>
    <script type="text/template" id="tpl-videos-list-item">
      <div class="media">
        <a class="pull-left video-thumbnail" href="#videos/<%- id %>" style="background-image: url('<%- thumbnailUrl %>');"></a>
        <div class="media-body">
          <h4 class="media-heading"><%- title %></h4>
          <h5>by <%- authorName %></h4>
        </div>
      </div>
    </script>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <script src="../bower_components/marionette/lib/backbone.marionette.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="../bower_components/bootstrap/js/affix.js"></script>
    <script src="../bower_components/bootstrap/js/alert.js"></script>
    <script src="../bower_components/bootstrap/js/dropdown.js"></script>
    <script src="../bower_components/bootstrap/js/tooltip.js"></script>
    <script src="../bower_components/bootstrap/js/modal.js"></script>
    <script src="../bower_components/bootstrap/js/transition.js"></script>
    <script src="../bower_components/bootstrap/js/button.js"></script>
    <script src="../bower_components/bootstrap/js/popover.js"></script>
    <script src="../bower_components/bootstrap/js/carousel.js"></script>
    <script src="../bower_components/bootstrap/js/scrollspy.js"></script>
    <script src="../bower_components/bootstrap/js/collapse.js"></script>
    <script src="../bower_components/bootstrap/js/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/router.js"></script>
    <script src="scripts/controller.js"></script>
    <script src="scripts/models/video.js"></script>
    <script src="scripts/models/game.js"></script>
    <script src="scripts/collections/videos.js"></script>
    <script src="scripts/collections/games.js"></script>
    <script src="scripts/views/videosLayout.js"></script>
    <script src="scripts/views/videosListItem.js"></script>
    <script src="scripts/views/videosList.js"></script>
    <script src="scripts/views/gamesFilter.js"></script>
    <!-- endbuild -->
    <script>
      EP.start();
    </script>
</body>
</html>
